@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family:Karla;
    font-size:16px;
    font-weight:400;
    color:hsl(218, 22%, 67%);
    margin: 0;
    padding: 0;
    background-color: hsl(204, 43%, 93%);
}

b{
    font-weight:700;
}

h2{
    color: hsl(179, 62%, 43%);
    padding-bottom:15px;
}

h3{
    color:hsl(71, 73%, 54%);
    line-height: 1em;
}

.component{
    width:50%;
    margin:7% 25% 5% 25%;

}

.box--one {
    width:100%;
    background-color: #fff;
    padding:35px;
    line-height: 0.9em;
    border-radius:5px 5px 0px 0px;
}

.compb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.box--two {
    background-color: hsl(179, 62%, 43%);
    padding:30px;
    color:#fff;
    border-radius:0px 0px 0px 5px;
}

.box--three {
    background-color:#4ABEBD;
    padding:30px;
    color:#fff;
    border-radius:0px 0px 5px 0px;
}

.box--three ul{
    list-style:none;
    padding:0;
    color: rgb(255,255,255,0.5);
}

.price {
    line-height: 1.8em;
    color: #94D8D7;
    font-size:14px;
}

.price--two{
    line-height: normal;
    font-size:2em;
    display: inline-block;
    vertical-align: middle;
    color:#fff;
}

.signup {
    margin-top:20px;
    align:center;
    width:100%;
    display: inline-block;
    padding:15px;
    background-color: hsl(71, 73%, 54%);
    border:none;
    font-family:Karla;
    font-size:16px;
    color:#fff;
    border-radius:5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}

@media screen and (max-width: 715px) {
    h3 {
        font-size:1.2em
    }
    .container {
        max-width:90%;
        margin:auto;
    }
}
